version: '2'

services:
  tunnel:
    build: .
    restart: always
    networks:
      - othercontainernet
    volumes:
      - ./id_ed25519.pub:/home/tunneluser/.ssh/authorized_keys
    ports:
      - "222:22"


networks:
  othercontainernet:
    external:
      name: othercontainer_default